<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/stylesheets/exam_style.css"/>
</head>
<body>
  <div class = "question_box">
  <form action = "/questions/<%=@question.id%>/edit" method =  "post">

    <h3 style = "display: inline-block;">Question title: </h3>
    <input name = "question[content]" type = "text" value = "<%=@question.content %>" ><br><br>

    <% @question.answers.each_with_index do |answer, index| %>
    <%=" #{('A'..'D').to_a[index]} - " %> <input type = "text" name = "answers[][content]" class = "choice" value = "<%=answer.content %>" />

    <select name = "answers[][right_answer]">
      <option value = "<%=answer.right_answer %>" ><%=answer.right_answer.to_s %></option>
      <option value = "<%=!answer.right_answer %>" ><%=(!answer.right_answer).to_s %></option>
    </select>
  <br>
  <br>
    <% end %>
      <input type = "hidden" name = "_method" value = "patch" >
      <input type = "hidden" name = "exam_id" value = "<%= @exam.id %>" >
      <button type = "submit">Save</button>
    </form>

  </div>
</body>
</html>
